@font-face {
  font-family: 'Adrianna Rg';
  src: url('./fonts/Adrianna-Regular.eot');
  src: url('./fonts/Adrianna-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Adrianna-Regular.woff2') format('woff2'),
      url('./fonts/Adrianna-Regular.woff') format('woff'),
      url('./fonts/Adrianna-Regular.ttf') format('truetype'),
      url('./fonts/Adrianna-Regular.svg#Adrianna-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adrianna Bd';
  src: url('./fonts/Adrianna-Bold.eot');
  src: url('./fonts/Adrianna-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Adrianna-Bold.woff2') format('woff2'),
      url('./fonts/Adrianna-Bold.woff') format('woff'),
      url('./fonts/Adrianna-Bold.ttf') format('truetype'),
      url('./fonts/Adrianna-Bold.svg#Adrianna-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adrianna Sb';
  src: url('./fonts/Adrianna-Semibold.eot');
  src: url('./fonts/Adrianna-Semibold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Adrianna-Semibold.woff2') format('woff2'),
      url('./fonts/Adrianna-Semibold.woff') format('woff'),
      url('./fonts/Adrianna-Semibold.ttf') format('truetype'),
      url('./fonts/Adrianna-Semibold.svg#Adrianna-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Rajdhani', sans-serif;
}

